@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");

body {
    font-family: 'Asap', sans-serif;
    margin: 0;
    padding: 0;
}
button{
    width: calc(100% - 20px);
}

textarea:focus, input:focus{
    outline: none;
}

button:focus{
    outline: 0;
}
.google-auth{
    width: 100%;
    justify-content: center;
    border: 1px solid black;
    box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px;
}
input{
    width: calc(100% - 20px);
    border: 1px solid rgb(207, 207, 207);
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}
.error-input{
    width: 100%;
    border: 2px solid rgb(238, 238, 238);
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}
.error-input:focus{
    outline: none;
}

a{
    text-decoration: none;
}
.note-editor{
    padding-left: 10px;
    padding-right: 10px;
}
