@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    max-height: 10%;
    display: block
}

.google-auth{
    width: 100%;
    justify-content: center;
    border: 1px solid black;
    box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px;
}
.input{
    width: 100%;
    border: 1px solid rgb(207, 207, 207);
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}
.error-input{
    width: 100%;
    border: 2px solid rgb(207, 2, 2);
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}
.error-input:focus{
    outline: none;
}